.o-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /**
   * Setting the width
   */
  .o-grid__item {
    width: inuit-rem(floor($max-width / 3) - ($unit * 2));
  }

  &.o-grid--large > .o-grid__item {
    margin-bottom: $inuit-global-spacing-unit-large;
  }
}

