.o-background {
  background-repeat: no-repeat;
  background-position: top center;

  &.o-background--gradient {
    background: linear-gradient(134.72deg, #5F50ED 0%, #0C176B 100%);
  }

  &.o-background--type {
    position: absolute;
    z-index: 1;
    transform: translate(-1%, -20%);
    opacity: 0.1;
    font-family: $sans;
    font-weight: $bold;
    color: $black;
    text-transform: uppercase;
    @include inuit-font-size(72px);

    @include mq($from: tablet) {
      @include inuit-font-size(288px);
    }
  }
}
