/*
 * See Extending inuitcss for explanation:
 * https://github.com/inuitcss/inuitcss/blob/develop/README.md#extending-inuitcss
 */
$unit-tiny: $inuit-global-spacing-unit-tiny;
$unit-small: $inuit-global-spacing-unit-small;
$unit: $inuit-global-spacing-unit;
$unit-large: $inuit-global-spacing-unit-large;
$unit-huge: $inuit-global-spacing-unit-huge;
