///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

// Dimensions
$max-width: 960px;

// Type-related styles
$sans: "Source Sans Pro";
$bold: 900;

// Colors
$black: #000000;
$white: #FFF;
