- content_for :page_title, @post.title

- content_for :canonical do
  %link{rel: 'canonical', href: post_url(@post)}

%section.o-layout.o-layout--center
  .o-layout__item.u-1x3
    = render @post
  .o-layout__item.u-2x3
    .o-background.o-background--paper
      = @post.body
